{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
           <select name="symbol" class="symbolsSell">
                {% for symbol in symbols %}
                    <option value="{{symbol}}">{{ symbol }}</option>
                {% endfor %}
           </select>

        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number" min="1">
        </div>
            <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}